<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">ScripBox Online Assestment</a>
      <button class="btn" *ngIf="logout" (click)="logoutUser()">Logout</button>
    </div>
  </nav>
</header>


<app-loader *ngIf="loader$ | async"></app-loader>
<div class="content">
  <router-outlet></router-outlet>
</div>



<footer class="bg-primary text-white text-center text-lg-start">


  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
